body {
    margin: 0;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    align-items: center;
    max-width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.user-card__avatar {
    margin-top: -40px;
    border: 4px solid white;
    border-radius: 50%;
}

.user-card__name {
    margin: 16px 0 8px;
}

.user-card__description {
    margin-bottom: 20px;
    color: #666;
}


.user-card__button {
    color: white;
    background-color: #e74c3c;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 10px 24px;
    font-weight: bold;
}

.user-card__button:hover {
    background-color: #c0392b;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}