body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
}

.action-footer {
    flex: 0 0 20px;
    margin: 1rem;
}

.action-footer__nav {
    display: flex;
    gap: 2rem;
}
