body {
    margin: 0;
}

.main {
    display: none;
}

.main.visible {
    display: block;
}

.action-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
}

.action-footer__nav {
    display: flex;
    gap: 2rem;
}
